# misc
.DS_Store
.ipynb_checkpoints/
.jupyter_cache/
__pycache__/

# exercise solutions
solutions/

# use markdown as authoritative source
*.ipynb

# latex build outputs
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glo
*.ist
*.log
*.out
*.run.xml
*.synctex.gz
*.toc

# MyST build outputs
_build/
_book/
.quarto/
